
lesson_3/.idea/workspace.xml
lesson_3/.idea/inspectionProfiles/profiles_settings.xml
lesson_3/.idea/vcs.xml
.idea/goit-python-web.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
lesson_7/__pycache__/server.cpython-310.pyc
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/sqldialects.xml
